<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="job" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Custom Attribute Default Values</label>
        <tab>catalog</tab>
        <resource>Apis_Rest::job</resource>
      <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
        <field id="select_options" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Select Color</label>
          <source_model>WatchColor\Config\Model\Config\Source\SelectOptions</source_model>
          <comment>System Config Select Options</comment>
          <depends>
            <field id="enable">1</field>
          </depends>
        </field>
      </group>
    </section>
  </system>
</config>